.loading {
  margin: 5px 0;
}

.rate-name {
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px 5px 5px 0;
  border-radius: 5px;
  border: none;
  outline: 0;

  &:hover:enabled {
    background: #61dafb;
    cursor: pointer;
  }
}

.errors {
  color: tomato;
  padding-bottom: 5px;
}
