body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px 5px 5px 0;
  border-radius: 5px;
  border: none;
  outline: 0;
}

.errors {
  color: tomato;
  padding-bottom: 5px;
}

.btn:hover:enabled {
  background: #61dafb;
  cursor: pointer;
}

.app {
  max-width: 600px;
  margin: 0 auto;
}

.loading {
  margin: 5px 0;
}

.rate-name {
  font-weight: bold;
}